<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
  <springProfile name="test">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="LOG_FILE" value="build/logs/spring-tests.log"/>
    <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>
    <root level="INFO">
      <appender-ref ref="FILE"/>
    </root>
  </springProfile>

  <springProfile name="!test">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>
</configuration>
